.DS_Store
Thumbs.db

node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

.env
.env.*

logs/
*.log

*.tar
docker-compose.override.yml

.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json

*.kubeconfig
kubeconfig

.aws/
credentials
config

build/
dist/

.vscode/
.idea/
*.swp
*.swo

coverage/
tmp/